.console {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  border: 3px solid #eab612;
  padding: 1rem;
  box-shadow: 0 0 3px 1px #be3a48;
  max-height: 40vh;
  min-height: 40vh;
  overflow-y: auto;
  align-items: stretch;
}

.console::-webkit-scrollbar {
  background: none;
}

.console::-webkit-scrollbar-thumb {
  background: rgba(255, 140, 0, 0.5);
}

.consoleResponse {
  color: #eab612;
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.consoleCommand {
  color: #ccc;
  text-align: left;
}
