.console {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  border: 3px solid #eab612;
  padding: 1rem;
  box-shadow: 0 0 3px 1px #be3a48;
  max-height: 40vh;
  min-height: 40vh;
  overflow-y: auto;
}

.consoleResponse {
  color: #eab612;
  margin-bottom: 0.5rem;
  text-align: left;
}

.consoleCommand {
  color: #ccc;
  text-align: left;
}
