.scroller {
  overflow: hidden; /* Ensures that the text doesn't overflow outside the div */
  padding: 0 0 1rem 0;
  margin: 0;
}

.scroller div {
  width: 20vw;
  white-space: nowrap;
  animation: scroll-left 10s ease-in-out infinite; /* Adjust the duration (10s) as desired */
  font-style: italic;
}

@keyframes scroll-left {
  0% {
    opacity: 0%;
    transform: translateX(
      200%
    ); /* Starts the animation from the right edge of the div */
  }
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: translateX(
      -200%
    ); /* Moves the text to the left edge of the div */
  }
}
