.visualiser {
  border: 3px solid #eab612;
  padding: 1rem;
  box-shadow: 0 0 3px 1px #be3a48;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visualiser div {
  text-align: left;
}
